#com-chilipeppr-widget-xyz-body {
    padding:2px;
}
#com-chilipeppr-widget-xyz-body .col {
    padding:0;
}
#com-chilipeppr-widget-xyz-ftr .hilite {
    background-color: #dff0d8;
}
#com-chilipeppr-widget-xyz-ftr .hiliteblue {
    background-color: #d9edf7;
}
.col {
    float:left;
}
.rotate90 {
    display:block;
    -webkit-transform: rotate(-90deg);
    -webkit-font-smoothing: none;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.btnincrements .btn {
    font-size:9px;
    padding:1px 3px;
}
.com-chilipeppr-xyz-pos {
    padding:0 0 0 0px;
    margin:0;
}
.com-chilipeppr-xyz-label {
    padding:0;
    margin:0;
}
.com-chilipeppr-xyz-label-well h2 {
    text-align: center;
}
#com-chilipeppr-widget-xyz-body .com-chilipeppr-xyz-label-well {
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
    margin-right: 2px;
}
#com-chilipeppr-widget-xyz-body .com-chilipeppr-xyz-well {
    overflow: hidden;
    /* position: relative; */
    margin-bottom: 0px;
    padding: 3px 16px;
}
#com-chilipeppr-widget-xyz-body .com-chilipeppr-xyz-pos-well {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#com-chilipeppr-widget-xyz-body .com-chilipeppr-xyz-menu {
    /* z-index: 2; */
    position: absolute;
    left: 3px;
    top: 3px;
}
.com-chilipeppr-xyz-menu > .btn {
    border:0;
}
.com-chilipeppr-xyz-dim {
    position: absolute;
    top:0px;
    right:14px;
    font-size:13px;
}
#com-chilipeppr-widget-xyz-ftr {
    overflow-x: visible;
    overflow-y: visible;
}
#com-chilipeppr-widget-xyz-ftr:focus {
    background-color: #428bca;
}
#com-chilipeppr-widget-xyz-ftr.panel-primary {
    background-color: #428bca;
}
.xyz-dimmed {
    color:#e9e9e9;
}
.xyz-limitswitch {
    color:#804040;
    font-size:11px;
}
.xyz-active {
    color: black;
}
.flatbottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px solid red;
}
.flattop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.flatleft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.flatright {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-nobg {
    background:none;
    border:none;
}
.btn-nobg:hover {
    background:none;
    border:none;
}
#com-chilipeppr-widget-xyz .btnIconWarning {
    color: #f0ad4e;
}
#com-chilipeppr-widget-xyz .dbltall {
    height:68px;
}
#com-chilipeppr-widget-xyz .moveby {
    position:absolute;
    top:0;
    left:0;
    border:0px red solid;
}
#com-chilipeppr-widget-xyz .jogincrements-small {
    display:none;
}
/* View Small Mode */
 #com-chilipeppr-widget-xyz.size-small .com-chilipeppr-xyz-label, #com-chilipeppr-widget-xyz.size-small .com-chilipeppr-xyz-pos {
    font-size:16px;
}
#com-chilipeppr-widget-xyz.size-small #com-chilipeppr-widget-xyz-ftr, #com-chilipeppr-widget-xyz.size-small #com-chilipeppr-widget-xyz-ftr .btn {
    font-size:9px;
}
#com-chilipeppr-widget-xyz.size-small .dbltall {
    height:51px;
}
#com-chilipeppr-widget-xyz.size-small .jogincrements-normal {
    display:none;
}
#com-chilipeppr-widget-xyz.size-small .jogincrements-small {
    display:initial;
}
#com-chilipeppr-widget-xyz.size-small .moveby {
    left:8px;
}
#com-chilipeppr-widget-xyz .touchpad-overlay {
    padding:0;
    margin:0;
    /* position:absolute; */
    top: 1px;
    left: 1px;
    bottom: 1px;
    height: 200px;
    right: 1px;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    /* z-index:2; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#com-chilipeppr-widget-xyz .btnShowTouchJog {
    font-size:10px;
    height:67px;
}
#com-chilipeppr-widget-xyz.size-small .btnShowTouchJog {
    font-size:10px;
    height:50px;
}
#com-chilipeppr-widget-xyz-machinecoords {
    padding:2px;
}
#com-chilipeppr-widget-xyz-machinecoords .col {
    padding:0;
}
#com-chilipeppr-widget-xyz-machinecoords .com-chilipeppr-xyz-label-well {
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
    margin-right: 2px;
}
#com-chilipeppr-widget-xyz-machinecoords .com-chilipeppr-xyz-well {
    overflow: hidden;
    /* position: relative; */
    margin-bottom: 0px;
    padding: 3px 16px;
}
#com-chilipeppr-widget-xyz-machinecoords .com-chilipeppr-xyz-pos-well {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#com-chilipeppr-widget-xyz-machinecoords .com-chilipeppr-xyz-menu {
    /* z-index: 2; */
    position: absolute;
    left: 3px;
    top: 3px;
}
.jogincrements-horiz button {
    height: 26px;
}
#com-chilipeppr-widget-xyz .xyz-pencil {
    position:absolute;
    top:1px;
    left:1px;
}
#com-chilipeppr-widget-xyz .xyz-number {
    position:absolute;
    top:-4px;
    left:28px;
    width:70%;
    z-index:10;
}